@model IEnumerable<ClothesStore.Models.ORDER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameOrd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptionOrd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOrded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.nameCus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameOrd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptionOrd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOrded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.nameCus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOrd }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOrd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOrd })
        </td>
    </tr>
}

</table>
